.rw-conversation-container .rw-header{
    background-color: #F5360D;
}

.rw-conversation-container .rw-client{
       background-color: #F5360D !important; 
}

.conversation-container close-button {
    background-color: #F5360D;
}

.rw-launcher{
    background-color: #F5360D;
}

/* widget */
.rw-conversation-container {
    width: 700px;
}

/* font size of markdown content */
.rw-conversation-container .rw-message .rw-markdown p {
    font-size: 11pt;
}

/* restart button */
.rw-conversation-container .rw-restart-conversation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: transparent;
    border: 0;
    width: 40px;
    cursor: pointer;
}

.rw-conversation-container .rw-restart-conversation {
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

/* quick replies buttons */
.rw-conversation-container .rw-reply {
    max-width: 700px;
    padding-right:49px;
    padding-left: 29px;
}